@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}

@media only screen and (max-width: 1400px){
	.welcome-section .image-one:before {
		display: none;
	}
}

@media only screen and (max-width: 1299px){
	.main-header.header-style-two .header-upper .link-box {
		display: none;
	}
	.header-style-two .header-top {
		padding-right: 0;
	}
}

@media only screen and (max-width: 1199px){
	.banner-section .banner-slider-nav {
		display: none;
	}
	.header-top .right-column {
	    display: none;
	}
	.banner-section .content-box h1 {
		font-size: 60px;
		line-height: 75px;
	}
	.header-style-two .auto-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.projects-section .auto-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 1139px){
	/* Default */
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}
	.nav-outer .mobile-nav-toggler{
		display: block;
	}
}

@media only screen and (max-width: 991px){
	.banner-section .content-box h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.welcome-section .image-one {
		margin-top: -20px;
		margin-bottom: 30px;
	}
	.welcome-section .image-one img {
		width: 100%;
	}
	.welcome-section .image-two {
		margin-left: 0;
		transform: translate(0) !important;
		margin-bottom: 30px;
		margin-top: 0;
	}
	.testimonial-block .author-title {
		margin-bottom: 50px;
	}
	.welcome-section-two .side-image {
		display: none;
	}
	.welcome-section-two .image-one {
		margin-left: 0;
		margin-right: 0;
	}
	.welcome-section-two .image-one img {
		width: 100%;
	}
	.rtl .faq-section .inner-container {
		padding-right: 15px;
	}
	.faq-section .inner-container {
		padding-left: 15px;
	}
	.faq-section .column .image {
		display: block;
		margin-bottom: 50px;
	}

	.faq-section .column .image img {
		width: 100%;
	}

	.faq-section .column {
		background: none !important;
	}
	.rtl .welcome-section-two .image-one {
		margin-right: 0;
		margin-left: 0;
	}

}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px){	
	br {
		display: none;
	}
	.welcome-section .list {
		margin-bottom: 50px;
	}
	.banner-section .content-box {
		min-height: 700px;
	}
	.btn-style-one {
		padding: 13px 30px;
	}
	.banner-section.style-two .content-box .inner {
		padding-left: 0;
	}
	.banner-section.style-two .content-box .inner:before {
		display: none;
	}
	.welcome-section-two .bottom-content {
		padding-right: 0;
	}	
	.welcome-section-two .experience-years {
		position: relative;
		margin-bottom: 25px;
	}
	.contact-map iframe {
		border-radius: 0 !important;
	}
}

@media only screen and (max-width: 575px){
	.banner-section .content-box h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.rtl .testimonials-section .icon-box {
		padding-right: 30px;
	}
	.testimonials-section .icon-box {
		padding-left: 30px;
	}
	
	.testimonials-section .icon-box .icon {
		margin-bottom: 20px;
	}
	
	.testimonials-section .icon-box h4 {
		width: 100%;
	}
	.news-block .content {
		padding: 20px;
	}
	.news-block.style-two h4 {
		font-size: 20px;
	}
	.news-block h4 {
		font-size: 30px;
	}
	.sec-title h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.clients-logo-section {
		padding: 80px 0;
	}
	.newsletter-section .icon-box {
		padding-left: 0;
	}
	.newsletter-section .icon-box .icon {
		display: none;
	}
	.cta-section h3 {
		font-size: 35px;
	}
	.video-section h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.page-title h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.service-details .service-benifit .icon-box h4 {
		width: 100%;
	}	
	.service-details .service-benifit .icon-box .icon {
		margin-bottom: 20px;
	}
	.styled-pagination li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.post-tag .social-icon {
		width: 100%;
		margin-top: 30px;
		justify-content: left;
	}	
	.sidebar-page-container .author-box {
		padding: 30px;
	}	
	.sidebar-page-container .author-box .image {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 30px;
	}	
	.comments-area .comment-box .reply-comment-btn {
		position: relative;
	}	
	.comments-area .comment {
		padding-left: 0;
	}	
	.comments-area .comment-box .author-thumb {
		position: relative;
	}	
	.comments-area .comment-info {
		margin-bottom: 10px;
	}	
	.blog-sidebar .widget {
		padding: 31px;
	}
	.rtl .sidebar-page-container .author-box {
		padding-right: 40px;
	}
	
	.rtl .sidebar-page-container .author-box .image {
		right: 0;
	}
	
	.rtl .comments-area .comment {
		padding-right: 0;
	}
}


@media only screen and (max-width: 767px) {
	/* Mobile Optimizations */
	
	/* About Page - Mission Vision Values */
	.mission-vision-section {
		padding: 60px 0 !important;
	}
	.mission-vision-section .value-card {
		margin-bottom: 20px;
	}
	.mission-vision-section .icon-box {
		width: 70px !important;
		height: 70px !important;
	}
	.mission-vision-section h3 {
		font-size: 20px !important;
	}
	.mission-vision-section p {
		font-size: 14px !important;
	}
	
	/* About Page - Why Choose Us */
	.why-choose-section {
		padding: 60px 0 !important;
	}
	.why-choose-section .feature-box {
		margin-bottom: 20px;
		padding: 30px 20px !important;
	}
	.why-choose-section .icon {
		font-size: 36px !important;
	}
	.why-choose-section h4 {
		font-size: 18px !important;
	}
	
	/* About Page - Team Section */
	.team-section {
		padding: 60px 0 !important;
	}
	.team-section .team-block {
		margin-bottom: 30px;
	}
	
	/* About Page - CTA Section */
	.cta-section {
		padding: 60px 0 !important;
	}
	.cta-section h3 {
		font-size: 28px !important;
		margin-bottom: 15px !important;
	}
	.cta-section p {
		font-size: 16px !important;
		margin-bottom: 25px !important;
	}
	.cta-section .theme-btn {
		display: block !important;
		margin: 10px auto !important;
		max-width: 280px;
	}
	
	/* Contact Page */
	.contact-section {
		padding: 60px 0 40px 0 !important;
	}
	.contact-section .contact-details {
		padding: 30px 20px !important;
	}
	.contact-section .sec-title h2 {
		font-size: 28px !important;
	}
	.contact-section .sec-title .text {
		font-size: 14px !important;
	}
	.contact-section .icon-box {
		margin-bottom: 15px;
		padding: 20px 15px !important;
	}
	.contact-section .icon {
		width: 45px !important;
		height: 45px !important;
	}
	.contact-section .icon .fas {
		font-size: 18px !important;
	}
	.contact-section h5 {
		font-size: 14px !important;
		margin-bottom: 8px !important;
	}
	.contact-section .text {
		font-size: 13px !important;
	}
	
	/* Hide logo in mobile header */
	.main-header .logo {
		display: none !important;
	}
	
	/* Map Section */
	.map-section {
		padding: 0 0 60px 0 !important;
	}
	.map-section iframe {
		height: 300px !important;
	}
	
	/* Contact Form */
	.contact-form-section {
		padding: 60px 0 !important;
	}
	
	/* Index Page - Service Cards */
	.services-section {
		padding-bottom: 40px !important;
	}
	.service-block {
		margin-bottom: 30px;
	}
	.service-block .inner-box {
		margin-bottom: 0;
	}
	.service-block .image {
		height: auto !important;
	}
	.service-block .image img {
		width: 100%;
		height: auto;
	}
	.service-block .content {
		padding: 25px 20px !important;
	}
	.service-block h3 {
		font-size: 20px !important;
		margin-bottom: 12px !important;
	}
	.service-block .text {
		font-size: 14px !important;
		line-height: 1.6 !important;
		margin-bottom: 20px !important;
	}
	
	/* Index Page - Facts Section */
	.facts-section {
		padding: 60px 0 !important;
		background-position: center center !important;
	}
	.facts-section .wrapper-box {
		padding: 40px 20px !important;
	}
	.facts-section .sec-title h2 {
		font-size: 32px !important;
	}
	
	/* Index Page - Testimonials */
	.testimonials-section {
		padding: 60px 0 !important;
	}
	
	/* General Mobile Fixes */
	.sec-title h2 {
		font-size: 32px;
		line-height: 1.3;
	}
	.sec-title .sub-title {
		margin-bottom: 10px;
	}
	.page-title h1 {
		font-size: 36px;
	}
	.page-title {
		padding: 120px 0 60px !important;
	}
}

@media only screen and (max-width: 575px) {
	/* Extra Small Mobile */
	.banner-section .content-box h1 {
		font-size: 36px !important;
		line-height: 46px !important;
	}
	.mission-vision-section h3 {
		font-size: 18px !important;
	}
	.why-choose-section h4 {
		font-size: 16px !important;
	}
	.cta-section h3 {
		font-size: 24px !important;
	}
	.sec-title h2 {
		font-size: 28px;
	}
	.page-title h1 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 350px) {
	.cta-section h3 {
		font-size: 22px !important;
	}
	.sec-title h2 {
		font-size: 24px;
	}
}








